## Runtime configuration for the entangle application.
##

core:
  logging: WARN
  batch: 1000
  period: 60
  out_queue: spms:out


logging:
  config: ../etc/logging.yml

redis:
  host: localhost
  port: 6379
  decode_responses: true

# mysql:
#   host: localhost
#   port: 3306
#   database: chaos
#   user: duduba
#   password: ilovedudu

mysql:
  host: 202.120.171.6
  port: 13306
  user: exg_info
  password: rock2018
  database: exchange_info  

oracle:
  host: 192.168.133.3
  port: 1521
  database: ORCL
  user: ETL_EXT_KYC
  password: 9c16452a063353e1
  nls_lang: AMERICAN_AMERICA.AL32UTF8

entangle:
  # T_JZG_JBXX:
  #   source: mysql
  #   pk: ['ZGH']
  #   target: users
  #   fields: {'ZGH':'work_id', 'XM':'name', 'DZXX':'email', 'XBM':'sex', 'SSEJDWM':'org_1', 'SSDWM':'org_2', 'PRZYJSZWJBM':'position_level', 'XWM':'degree_code'}
  #   rules:
  #     PRZYJSZWJBM: {'正高级':'050', '副高级':'040', '中级':'030', '初级':'020', '员级':'010'}
  T_ZZGL_XZJG:
    source: mysql
    pk: ['DWDM']
    target: exchange:ic:organizations
    fields: {'DWDM':'code', 'DWBZMC':'name', 'DWCC':'level', 'SSDWBM':'parent_code', 'DWLBM':'org_type', 'SFSY':'enabled'}
  # T_ZXBZ_XW:
  #   source: mysql
  #   pk: ['XWDM']
  #   target: degrees
  #   fields: {'XWDM':'code', 'XWMC':'name', 'CC':'level', 'LS':'parent_code', 'SFSY':'enabled'}
  PS_ETL_CW_BUDSTR:
    mode: copy
    target: exchange:finance:account
    pk: ['BCODE']
    fields: {'BCODE':'code', 'BNAME':'name'}
    condition: tcode='AA27' and SUBSTR(bcode,1,8)='AA270201' and LENGTH(trim(bcode))>8 
  # PS_ETL_CW_BUDGET:
  #   source: oracle
  #   pk: ['TCODE']
  #   target: budget
  #   fields: {'TCODE':'code', 'TNAME':'name', 'SDATE':'start_date', 'VALID':'valid'}
  # PS_ETL_CW_BUDSTR:
  #   mode: copy
  #   history: 1999
  #   target: exchange:finance:account:{year}
  #   fields: {'BCODE':'code', 'BNAME':'name'}
  #   condition: tcode='AA42' and SUBSTR(bcode,1,8)='AA420201' and LENGTH(trim(bcode))>8 
  PS_ETL_CW_PRJEXEC:
    source: oracle
    pk: ['CODE', 'BU_CODE']
    target: exchange:finance:prjexec
    fields: {'CODE':'code', 'BU_CODE':'budget_code', 'BU_NAME':'name', 'CTL_MODE':'mode', 'PLAN_AMT_ALL':'plan_amount', 'EXEC_AMT_ALL':'exec_amount', 'FREEZE_AMT_ALL':'freeze_amount', 'MAX_USE_AMT_ALL':'balance'}
    condition: SUBSTR(bu_code,1,4)='AA42'
