## Runtime configuration for the entangle application.
##

core:
  logging: WARN
  batch: 1000
  period: 60


logging:
  config: etc/logging.yml

redis:
  host: host.docker.internal
  port: 6379
  decode_responses: true

# mysql:
#   host: localhost
#   port: 3306
#   database: chaos
#   user: duduba
#   password: ilovedudu

mysql:
  host: 202.120.171.6
  port: 13306
  user: exg_info
  password: rock2018
  database: exchange_info  

oracle:
  host: 192.168.133.3
  port: 1521
  database: ORCL
  user: ETL_EXT_KYC
  password: 9c16452a063353e1
  nls_lang: SIMPLIFIED CHINESE_CHINA.UTF8
  #nls_lang: AMERICAN_AMERICA.AL32UTF8

spms_to_finance:
  fixed_time_queues:
    - exchange:s2f:prj_category
    - exchange:s2f:depart
  real_time_queue: exchange:s2f:prj_funding
  entities:
    project:
      target: V_KY_PROJ
      pk: [wid]
      fields: {'wid':'project_no','ky_prj_code':'project_no','ky_prj_name':'name','cw_prj_code':'card_no','cw_prj_name':'name','ky_ord':'sub_category_code','ky_type':'sub_category_name','sno':'user_id','sname':'user_name','start_year':'_start_year','end_year':'_end_year','create_date':'start_date','finish_date':'end_date','check_date':'setup_date','dno':'org_code','depart':'org_name','fno':'finance_org_code','plan_amt':'setup_amount','tel':'tel'}
    budgets:
      target: V_KY_PROJ_BUDGET
      pk: [wid, bu_code]
      fields: {'wid':'project_no','ky_prj_code':'project_no','cw_prj_code':'card_no','bu_code':'code','bu_name':'name','plan_amt':'amount'}
    fund_item:
      target: V_KY_ARRI
      pk: [arri_no, ord]
      fields: {'arri_no':'fund_no','ord':'id','opt':'user_name','ky_prj_code':'project_no','cw_prj_code':'card_no','arri_amt':'amount','arri_enddate':'card_close_at'}
    category:
      mode: copy
      target: V_KY_TYPE
      pk: [f_code, code]
      fields: {'f_code':'parent_code','code':'code','name':'name','class_id':'project_type'}
    t_zzgl_xzjg:
      mode: copy
      target: V_KY_DEPART
      pk: [code]
      fields: {'code':'code','name':'name'}

    
entangle:
  T_JZG_JBXX:
    source: mysql
    pk: ['ZGH']
    target: exchange:ic:users
    fields: {'ZGH':'work_id', 'XM':'name', 'DZXX':'email', 'XBM':'sex', 'SSEJDWM':'org_1', 'SSDWM':'org_2', 'PRZYJSZWJBM':'position_level', 'XWM':'degree_code'}
    rules:
      PRZYJSZWJBM: {'正高级':'050', '副高级':'040', '中级':'030', '初级':'020', '员级':'010'}
  T_ZZGL_XZJG:
    source: mysql
    pk: ['DWDM']
    target: exchange:ic:organizations
    fields: {'DWDM':'code', 'DWBZMC':'name', 'DWCC':'level', 'SSDWBM':'parent_code', 'DWLBM':'org_type', 'SFSY':'enabled'}
  T_ZZGL_XZJG.forward:
    source: mysql
    mode: copy
    target: exchange:s2f:depart
    fields: {'DWDM':'code', 'DWBZMC':'name'}
    order_by: DWDM
  T_ZXBZ_XW:
    source: mysql
    pk: ['XWDM']
    target: exchange:ic:degrees
    fields: {'XWDM':'code', 'XWMC':'name', 'CC':'level', 'LS':'parent_code', 'SFSY':'enabled'}
  PS_ETL_CW_BUDSTR:
    source: oracle
    mode: copy
    target: exchange:finance:account
    pk: ['BCODE']
    fields: {'BCODE':'code', 'BNAME':'name'}
    condition: tcode='AA42' and SUBSTR(bcode,1,8)='AA420201' and LENGTH(trim(bcode))>8
  PS_ETL_CW_XCODEMAP_DEPART:
    source: oracle
    mode: copy
    target: exchange:finance:depart
    pk: ['SA_CODE']
    fields: {'SA_CODE':'code', 'SA_NAME':'name'}
    condition: LENGTH(trim(sa_code))=4
  PS_ETL_CW_PRJEXEC:
    source: oracle
    pk: ['CODE', 'BU_CODE']
    target: exchange:finance:prjexec
    fields: {'CODE':'code', 'BU_CODE':'budget_code', 'BU_NAME':'name', 'CTL_MODE':'mode', 'PLAN_AMT_ALL':'plan_amount', 'EXEC_AMT_ALL':'exec_amount', 'FREEZE_AMT_ALL':'freeze_amount', 'MAX_USE_AMT_ALL':'balance'}
    condition: SUBSTR(bu_code,1,4)='AA42'
  PS_ETL_CW_PZD1:
    source: oracle
    pk: ['PZH', 'ORD']
    target: exchange:finance:pzd1
    fields: {'PZH':'pzh', 'ORD':'ord', 'SYEAR':'year', 'SMONTH':'month', 'SDAY':'day', 'J_AMOUNT':'debit_amount', 'D_AMOUNT':'credit_amount', 'PRJ_ORDER':'code', 'BU_CODE':'budget_code'}
    condition: SUBSTR(bu_code,1,4)='AA42'
  PS_ETL_KYCW_ARRI_CW:
    source: oracle
    pk: ['ARRI_NO', 'ORD']
    target: exchange:finance:arri
    fields: {'ARRI_NO':'arri_no', 'ORD':'ord', 'F_SMARK':'entry_voucher_code', 'F_DATE':'entry_date', 'LASTUPD_DTTM':'gmt_modified'}
    order_by: ARRI_NO,ORD
